.subtitle{
    color: grey;
}

.link{
    color: rgb(1, 196, 255);
}

header{
    background-image: url(../img/pattern.png);
    height: 180px;
    background-color: rgb(1, 196, 255);
    background-position: top center;
    background-repeat: repeat;
}

