.subtitle{
    color: grey;
    line-height: 0;
}


.link{
    color: rgb(1, 196, 255);
}

.logo {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}


header{
    position: relative;
    background-image: url(../img/pattern.png);
    height: 180px;
    background-color: rgb(1, 196, 255);
    background-position: top center;
    background-repeat: repeat;
}

.highlight{
    background-color: yellow;
}


.table-column{
    background-color: rgb(0, 153, 255);
}

.left{
    display: inline-block;
    width: 33%;
    bottom: 1000%;

}

.centre{
    display: inline-block;
    width: 33%;

}

.right{
    display: inline-block;
    width: 33%;

}

.color{
    background-color: rgba(0, 255, 255, 0.575);
}
